.nav{
    margin-right: 4rem;
    width: 100%;
}
.nav-body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;    
}
.nav-body li:hover{
    transform: scale(1.2);
}
/*mobile*/
@media(max-width:480px){
    .nav{
        display: none;
    }  
}
@media(max-width:960px){  
    .nav{
        display: none;
    }  
}
