.header-logo{
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 2rem;
}
.header-logo:hover{
    background-color: var(--primero);
    border-radius: 50%;
    transition: all 0.5s ease-in;
}
.header-logo h1{
    text-transform: uppercase;
    text-align: center;
    padding:1rem; 
    color: var(--primero);  
}
.header-logo h1:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    color: var(--tercero);
}
/*mobile*/
@media(max-width:480px){  
    .header-logo{
        width: 70px;
        height: 70px;
    }
    .header-logo h1{
        font-size: 2.25rem;
    }

}